[submodule "html-audio-mixer"]
	path = html-audio-mixer
	url = https://github.com/cgloeckner/html-audio-mixer
[submodule "html-map-print"]
	path = html-map-print
	url = https://github.com/cgloeckner/html-map-print
